.wrapper {
    display: flex;
    justify-content: center;
}

.leftBar {
    position: sticky;
    top: 0;
    bottom: 0;
    overflow: hidden;
    flex-grow: 1;
    height: 100vh;
    padding-left: 1rem;
    min-width: 60px;
}

.leftBarContent {
    display: flex;
    width: 100%;
    /*top: 20px;*/
    position: relative;
    justify-content: flex-end;
    /*padding: 20px;*/
}




.rightBar {
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    /*padding: 20px;*/
    overflow: auto;
    flex-grow: 1;
    height: 100vh;
}
.rightBarContent {
    position: relative;
    margin: 16px;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 100%;
    background-color: #FFFFFF;
}


@media (max-width: 768px) {
    .rightBar {
        display: none;
    }

}
